<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal | Port-folio Website</title>

    <!-- =======link for style stylesheets====== -->

    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/phone.css">
    <link rel="stylesheet" href="../static/large devices.css">
    <link rel="stylesheet" href="../static/xlarge devices.css">


    <!-- =========uni icons style sheet link ========= -->

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--this is the link for the icons       https://iconscout.com/unicons/getting-started/line -->

</head>
<!--========= body =======  -->

<body class="dark_theme">

    <header id="header_js">
        <nav>
            <!-- ===== logo ==== -->

            <h3 id="logo"><a href="#home_scrol" id="logo_link">Muhammad</a></h3>

            <!-- ===== navigation menu =====  -->

            <ul class="show_menu_js">
                <li>
                    <a href="#home_scrol" target="_self">
                        <i class="uil uil-estate"></i> Home
                    </a>
                </li>
                <li>
                    <a href="#about_scrol" target="_self">
                        <i class="uil uil-user"></i> About
                    </a>
                </li>
                <li>
                    <a href="#skills_scrol" target="_self">
                        <i class="uil uil-copy-landscape"></i> Skills
                    </a>
                </li>
                <li>
                    <a href="#services_scrol" target="_self">
                        <i class="uil uil-folder-check"></i>Services
                    </a>
                </li>
                <li>
                    <a href="#portfolio_scrol" target="_self">
                        <i class="uil uil-file-info-alt"></i> Portfolio
                    </a>
                </li>
                <li>
                    <a href="#contact_scrol" target="_self">
                        <i class="uil uil-message"></i> Contact
                    </a>
                </li>
                <li>
                    <a href="#testimonials_scrol" target="_self">
                        <i class="uil uil-comment-alt-message"></i> Testimonials
                    </a>
                </li>
                <li>
                    <a href="#home_scrol" target="_self">
                        <i class="uil uil-users-alt"></i> Log-in
                    </a>
                    <!-- ===== navigation menu close buttons ======= -->

                    <i class="uil uil-times" id="nav_cross_btn"></i>
                </li>
            </ul>

            <!-- navigation menu icons  -->

            <div class="nav_icons_container">
                <i class="uil uil-brightness light_theme_icon" id="change_light_theme"></i>

                <i class="uil uil-moon dark_theme_icon" id="change_dark_theme"></i>

                <i class="uil uil-apps" id="nav_app_btn"></i>

            </div>
        </nav>
    </header>
    <!-- ======== home section ===== -->
    <section id="home_scrol" class="home">

        <!-- Home description  -->

        <div id="home_container">

            <div id="side_icons_container">
                <a href="https://www.linkedin.com/" target="_blank"> <i class="uil uil-linkedin-alt home_icons"></i></a>
                <a href="https://www.dribbble.com/" target="_blank"> <i class="uil uil-dribbble home_icons"></i></a>
                <a href=" https://www.github.com/" target="_blank"> <i class="uil uil-github-alt home_icons"></i></a>
            </div>

            <div id="discription_container">
                <h1 id="home_descrp_first_heading">Hi, I'm Muhammad</h1>
                <h3 id="home_descrp_second_heading">Full-Stack Developer</h3>
                <p id="home_descrp_descrp_para">Highly experienced in Website development and designing too, along with quality work</p>
                <a href="" id="home_descrp_btn">
                    <span id="descrp_contact">Contact Me</span>
                    <i class="uil uil-message"></i>

                </a>
            </div>


            <!-- home main image  -->

            <div id="home_img_container">
                <svg id="home_img_box" viewBox="0 0 200 187" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <mask id="mask0" mask-type="alpha">
                        <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 
                    |    130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 
                    |    97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 
                    |    0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
                    </mask>
                    <g mask="url(#mask0)">
                        <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
                    |    165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
                    |    129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
                    |    -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
                    <image id="home_girl_image" x="16" y="16" href="../static/images/random/perfil.png"/>
                    </g>
                </svg>
            </div>

        </div>

        <!-- home scrool button  -->


        <div id="scrol_container">
            <a href="#scrol_down" id="home_scrol_btn">
                <i class="uil uil-mouse-alt"></i>
                <span id="scrol_text">Scroll down</span>
                <i class="uil uil-arrow-down"></i>
            </a>
        </div>

    </section>

    <!-- -----about section -------  -->


    <section class="about_section" id="about_scrol">
        <!-- ====== about headings =====  -->
        <h1 id="about_heading">About Me</h1>
        <h5 id="about_intro_heading">My introduction</h5>

        <!-- ======= about content =====  -->
        <div class="about_container">
            <figure id="about_image_container">
                <img src="../static/images/about/about.jpg" alt="About image" id="about_image">
            </figure>
            <div id="about_description_centainer">
                <p id="about_para">Webdeveloper, with extensive knowledge and Highly experienced in working web-technologies, and Ui/Ux designing. Giving of quality of work</p>

                <div id="about_summary_container">
                    <div class="summary_columns">
                        <span class="summary_heading">03+</span>
                        <p class="summary_text">years <br> experienced</p>
                    </div>
                    <div class="summary_columns">
                        <span class="summary_heading">19+</span>
                        <p class="summary_text">completed <br> projects</p>
                    </div>
                    <div class="summary_columns">
                        <span class="summary_heading">04+</span>
                        <p class="summary_text">companies <br> work</p>
                    </div>
                </div>
            </div>
        </div>
        <a href="##" id="about_download_btn">
            <span id="about_download">Download CV</span>
            <i class="uil uil-download-alt" id="scrol_down"></i>
        </a>
    </section>

    <!-- ----skills section ---- -->

    <section class="skills_sec" id="skills_scrol">

        <h1 id="skills_heading">Skills</h1>

        <h5 id="skills_miniheading">My techniqual Level</h5>

        <div id="skill_container">
            <!-- ====== skill section items 1 =====  -->
            <div class="skill_mini_container">

                <div class="content_header">

                    <i class="uil uil-brackets-curly"></i>
                    <div class="content_header_headings_container">
                        <span class="content_heading">Front-end developer</span>
                        <span class="content_mini_heading">More than three years</span>
                    </div>
                    <i class="uil uil-angle-up" id="toggle_arrow1"></i>
                </div>

                <div class="bar_container" id="bar_container_js1">

                    <div class="bar_headings">
                        <span class="bar_title">HTML</span>
                        <span class="bar_percentage">85%</span>
                    </div>

                    <div class="bar_back_line">
                        <div class="bar_front_line" style="width: 85%;"></div>
                    </div>


                    <div class="bar_headings">
                        <span class="bar_title">CSS</span>
                        <span class="bar_percentage">70%</span>
                    </div>

                    <div class="bar_back_line">
                        <div class="bar_front_line" style="width: 70%;"></div>
                    </div>

                    <div class="bar_headings">
                        <span class="bar_title">Javascript</span>
                        <span class="bar_percentage">60%</span>
                    </div>

                    <div class="bar_back_line">
                        <div class="bar_front_line" style="width: 60%;"></div>
                    </div>

                    <div class="bar_headings">
                        <span class="bar_title">React Js</span>
                        <span class="bar_percentage">15%</span>
                    </div>

                    <div class="bar_back_line">
                        <div class="bar_front_line" style="width: 15%;"></div>
                    </div>
                </div>
            </div>
            <!-- ====== skill section items 2 =====  -->
            <div class="skill_mini_container">
                <div class="content_header">
                    <i class="uil uil-server-network-alt"></i>

                    <div class="content_header_headings_container">
                        <span class="content_heading">Back-end developer</span>
                        <span class="content_mini_heading">More than one year</span>
                    </div>
                    <i class="uil uil-angle-down" id="toggle_arrow2"></i>
                </div>
                <div class="bar_container" id="bar_container_js2">
                    <div class="bar_headings">
                        <span class="bar_title">Node Js</span>
                        <span class="bar_percentage">60%</span>
                    </div>
                    <div class="bar_back_line">
                        <div class="bar_front_line" style="width: 60%;"></div>
                    </div>
                    <div class="bar_headings">
                        <span class="bar_title">Express Js</span>
                        <span class="bar_percentage">65%</span>
                    </div>
                    <div class="bar_back_line">
                        <div class="bar_front_line" style="width: 65%;"></div>
                    </div>
                    <div class="bar_headings">
                        <span class="bar_title">PHP</span>
                        <span class="bar_percentage">25%</span>
                    </div>
                    <div class="bar_back_line">
                        <div class="bar_front_line" style="width: 25%;"></div>
                    </div>
                    <div class="bar_headings">
                        <span class="bar_title">Python</span>
                        <span class="bar_percentage">15%</span>
                    </div>
                    <div class="bar_back_line">
                        <div class="bar_front_line" style="width: 15%;"></div>
                    </div>
                </div>
            </div>
            <!-- ====== skill section items 3 =====  -->
            <div class="skill_mini_container">
                <div class="content_header">
                    <i class="uil uil-swatchbook"></i>
                    <div class="content_header_headings_container">
                        <span class="content_heading">Website Designing</span>
                        <span class="content_mini_heading">More than two years</span>
                    </div>
                    <i class="uil uil-angle-up" id="toggle_arrow3"></i>
                </div>
                <div class="bar_container" id="bar_container_js3">
                    <div class="bar_headings">
                        <span class="bar_title">CSS</span>
                        <span class="bar_percentage">75%</span>
                    </div>
                    <div class="bar_back_line">
                        <div class="bar_front_line" style="width: 75%;"></div>
                    </div>
                    <div class="bar_headings">
                        <span class="bar_title">Figma</span>
                        <span class="bar_percentage">25%</span>
                    </div>
                    <div class="bar_back_line">
                        <div class="bar_front_line" style="width: 25%;"></div>
                    </div>
                    <div class="bar_headings">
                        <span class="bar_title">Sketch</span>
                        <span class="bar_percentage">55%</span>
                    </div>
                    <div class="bar_back_line">
                        <div class="bar_front_line" style="width: 55%;"></div>
                    </div>
                    <div class="bar_headings">
                        <span class="bar_title">Phote Shop</span>
                        <span class="bar_percentage">35%</span>
                    </div>
                    <div class="bar_back_line">
                        <div class="bar_front_line" style="width: 35%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- qualification section  -->



    <section id="qualification_sec">

        <!-- ========  qualification headings ===== -->

        <h1 id="qualification_heading">Qualifications</h1>

        <h5 id="qualification_miniheading">My personal Journey</h5>
        <!-- ======== qualification content ======  -->
        <div id="qualificaiton_main_container">

            <div id="icons_container">

                <div class="icons_container_elements">
                    <i class="uil uil-graduation-cap"></i> <span class="icons_names" id="click_education">Education</span>
                </div>
                <div class="icons_container_elements">
                    <i class="uil uil-briefcase-alt"></i> <span class="icons_names" id="click_work">Work</span>
                </div>

            </div>
            <!-- ========  qualification education content =======  -->
            <div id="main_education_content_container">

                <div class="education_content_container">
                    <div class="content_1">
                        <h4 class="qual_degree_name">Matric</h4>
                        <h4 class="qual_institute_name">Islamia-School</h4>
                        <i class="uil uil-calendar-alt cal_icons"></i>
                        <span class="qual_year">2015-2017</span>
                    </div>
                    <div class="line_rounder_container">
                        <div class="rounder"></div>
                        <div class="line"></div>
                        <div class="rounder"></div>
                        <div class="line"></div>
                        <div class="rounder"></div>
                    </div>
                    <div class="content_2">
                        <h4 class="qual_degree_name">Intermediate</h4>
                        <h4 class="qual_institute_name">Shalimar-College</h4>
                        <i class="uil uil-calendar-alt cal_icons"></i>
                        <span class="qual_year">2017-2019</span>
                    </div>


                </div>

                <div class="education_content_container">
                    <div class="content_1">
                        <h4 class="qual_degree_name">FST-1st</h4>
                        <h4 class="qual_institute_name">UAF-University</h4>
                        <i class="uil uil-calendar-alt cal_icons"></i>
                        <span class="qual_year">2019-2021</span>
                    </div>
                    <div class="line_rounder_container">
                        <div class="rounder"></div>
                        <div class="line"></div>
                        <div class="rounder"></div>
                        <div class="line"></div>
                        <div class="rounder"></div>
                    </div>
                    <div class="content_2">
                        <h4 class="qual_degree_name">FST-1st</h4>
                        <h4 class="qual_institute_name">UAF-University</h4>
                        <i class="uil uil-calendar-alt cal_icons"></i>
                        <span class="qual_year">2021-cont...</span>
                    </div>


                </div>

            </div>

            <!-- ===== work content ====  -->


            <div id="main_work_content_container">

                <div class="work_content_container">
                    <div class="content_1">
                        <h4 class="qual_degree_name">Web-Development</h4>
                        <h4 class="qual_institute_name">You-tube</h4>
                        <i class="uil uil-calendar-alt cal_icons"></i>
                        <span class="qual_year">2017-2019</span>
                    </div>
                    <div class="line_rounder_container">
                        <div class="rounder"></div>
                        <div class="line"></div>
                        <div class="rounder"></div>
                        <div class="line"></div>
                        <div class="rounder"></div>
                    </div>
                    <div class="content_2">
                        <h4 class="qual_degree_name">Web-Design</h4>
                        <h4 class="qual_institute_name">You-tube
                        </h4>
                        <i class="uil uil-calendar-alt cal_icons"></i>
                        <span class="qual_year">2017-2019</span>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- ====== services section ======  -->
    <section class="services_sec" id="services_scrol">
        <!-- ======= services section headings ========= -->
        <h1 id="services_main_heading">Services</h1>

        <h5 id="services_mini_heading">What I offer</h5>

        <!-- ======= services box 1 ========  -->
        <div id="big_services_container">
            <div id="services_boxes_js1" class="services_boxes">
                <div class="services_main_icons_container">
                    <i class="uil uil-web-grid services_main_icons"></i>
                </div>
                <div class="service_box_heading_container">
                    <h3 class="service_box_heading">Ui/Ux <br> Designer</h3>

                </div>
                <div class="services_box_button_container">
                    <button class="services_box_btn" id="services_click_view_more1"> View More</button>


                </div>


                <div class="services_description_container" id="services_discription_block1">
                    <div class="sercice_box_mini_headings_container" id="cancel_view_more1">
                        <h4 class="service_box_mini_heading">Ui/Ux <br>Designer</h4>
                        <i class="uil uil-times"></i>
                    </div>
                    <div style="padding-left:10px;">
                        <p class="services_box_para"> <i class="uil uil-check-circle"></i> I develop the user Front-end</p>
                        </i>
                        <p class="services_box_para"> <i class="uil uil-check-circle"></i> I develop the user Front-end</p>

                        <p class="services_box_para"> <i class="uil uil-check-circle"></i> I develop the user Front-end</p>
                    </div>
                </div>
            </div>
            <!-- ======= services box 2 ========  -->

            <div class="services_boxes">
                <div class="services_main_icons_container">
                    <i class="uil uil-arrow services_main_icons"></i>
                </div>
                <div class="service_box_heading_container">
                    <h3 class="service_box_heading">Front-end <br> Developer</h3>

                </div>
                <div class="services_box_button_container">
                    <button class="services_box_btn" id="services_click_view_more2"> View More </button>
                </div>

                <div class="services_description_container" id="services_discription_block2">
                    <div class="sercice_box_mini_headings_container" id="cancel_view_more2">
                        <h4 class="service_box_mini_heading">Front-end <br>Developer</h4>
                        <i class="uil uil-times"></i>
                    </div>

                    <div style="padding-left:10px;">
                        <p class="services_box_para"> <i class="uil uil-check-circle"></i> I develop the user Front-end</p>
                        </i>
                        <p class="services_box_para"> <i class="uil uil-check-circle"></i> I develop the user Front-end</p>

                        <p class="services_box_para"> <i class="uil uil-check-circle"></i> I develop the user Front-end</p>
                    </div>
                </div>
            </div>
            <!-- ======= services box 1 ========  -->

            <div class="services_boxes">
                <div class="services_main_icons_container">
                    <i class="uil uil-edit-alt services_main_icons"></i>
                </div>
                <div class="service_box_heading_container">
                    <h3 class="service_box_heading">Web-site <br> Designer</h3>

                </div>
                <div class="services_box_button_container">
                    <button class="services_box_btn" id="services_click_view_more3"> View More </button>
                </div>

                <div class="services_description_container" id="services_discription_block3">
                    <div class="sercice_box_mini_headings_container" id="cancel_view_more3">
                        <h4 class="service_box_mini_heading">Web-site <br>Designer</h4>
                        <i class="uil uil-times"></i>
                    </div>
                    <div style="padding-left:10px;">
                        <p class="services_box_para"> <i class="uil uil-check-circle"></i> I develop the user Front-end</p>
                        </i>
                        <p class="services_box_para"> <i class="uil uil-check-circle"></i> I develop the user Front-end</p>

                        <p class="services_box_para"> <i class="uil uil-check-circle"></i> I develop the user Front-end</p>
                    </div>
                </div>
            </div>
            <!-- ======= services box 4 ========  -->
            <div class="services_boxes">
                <div class="services_main_icons_container">
                    <i class="uil uil-web-grid services_main_icons" class="services_main_icons"></i>
                </div>
                <div class="service_box_heading_container">
                    <h3 class="service_box_heading">Ui/Ux <br> Designer</h3>

                </div>
                <div class="services_box_button_container">
                    <button class="services_box_btn" id="services_click_view_more4"> View More</button>


                </div>


                <div class="services_description_container" id="services_discription_block4">
                    <div class="sercice_box_mini_headings_container" id="cancel_view_more4">
                        <h4 class="service_box_mini_heading">Ui/Ux <br>Designer</h4>
                        <i class="uil uil-times"></i>
                    </div>
                    <div style="padding-left:10px;">
                        <p class="services_box_para"> <i class="uil uil-check-circle"></i> I develop the user Front-end</p>
                        </i>
                        <p class="services_box_para"> <i class="uil uil-check-circle"></i> I develop the user Front-end</p>

                        <p class="services_box_para"> <i class="uil uil-check-circle"></i> I develop the user Front-end</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- portfolio sectioin  -->

    <section class="portfolio_sec" id="portfolio_scrol">
        <h1 id="portfolio_main_heading">Portfolio</h1>
        <h5 id="portfolio_mini_heading">My recent Work</h5>
        <div class="portfolio_container">

            <div class="slideshow-container">

                <!-- slider items  -->

                <!-- slider item no 1  -->
                <div class="mySlides fade">
                    <figure class="portfolio_content_image_container">
                        <img class="portfolio_image" src="../static/images/portfolio/portfolio1.jpg" alt="portfolio-images">
                    </figure>
                    <div class="portfolio_content_details">
                        <h2 class="portfolio_content_heading">Modern Websites</h2>
                        <p class="porfolio_content_para">Websites will be adapted to all screen sizes devices,with ui responsive components and modern animated designs</p>
                        <a href="#" class="portfolio_content_detail_btn">Demo <i class="uil uil-arrow-right arrow_icn"></i> </a>
                    </div>
                </div>

                <!-- slider item no 2 -->
                <div class="mySlides fade">
                    <figure class="portfolio_content_image_container">
                        <img class="portfolio_image" src="../static/images/portfolio/portfolio2.jpg" alt="portfolio-images">
                    </figure>
                    <div class="portfolio_content_details">
                        <h2 class="portfolio_content_heading">Online Store</h2>
                        <p class="porfolio_content_para">Websites will be adapted to all screen sizes devices,with ui responsive components and modern animated designs</p>
                        <a href="#" class="portfolio_content_detail_btn">Demo <i class="uil uil-arrow-right arrow_icn"></i> </a>
                    </div>
                </div>

                <!-- slider item no 3 -->
                <div class="mySlides fade">
                    <figure class="portfolio_content_image_container">
                        <img class="portfolio_image" src="../static/images/portfolio/portfolio3.jpg" alt="portfolio-images">
                    </figure>
                    <div class="portfolio_content_details">
                        <h2 class="portfolio_content_heading">Brand Design</h2>
                        <p class="porfolio_content_para">Websites will be adapted to all screen sizes devices,with ui responsive components and modern animated designs</p>
                        <a href="#" class="portfolio_content_detail_btn">Demo <i class="uil uil-arrow-right " ></i> </a>
                    </div>
                </div>

                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

            </div>
            <br>
            <!-- The dots/circles -->
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </div>
    </section>
    <!-- ====== project section ======  -->
    <section id="project_sec">
        <!-- ========= project section description ======= -->
        <div id="project_container">
            <div id="project_mini_container">
                <div id="project_data">
                    <h2 id="project_heading">You have a new Project</h2>
                    <p id="discount_para">Contact me now and get a discount of 30%, If you have a new project</p>
                    <a href="#" id="project_btn">Contact Me</a>

                </div>

                <!-- ===== project section image ====  -->
                <figure class="project_img_container">
                    <img src="../static/images/random/project.png" alt="Project-image" id="project_img">
                </figure>
            </div>


        </div>

    </section>


    <!-- ====== testimonial section ======  -->


    <section id="testimonials_scrol" class="testimonials_sec">
        <h1 id="testimonials_heading">Testimonials</h1>

        <h5 id="testimonials_mini_heading">What my Clints say's</h5>

        <div class="testimonials_container">
            <div class="testimonials_mini_container slider-container">

                <!-- =======  first clint review ===== -->
                <div class="clints_reviews_data_container Slides faded">
                    <div class="review_heading_container">
                        <div class="image_container">
                            <img src="../static/images/testimonial/testimonial1.jpg" alt="Third_Clint" class="clints_images">
                        </div>
                        <div class="clint_name_container">
                            <h2 class="clint_name">Stacy Scarllet</h2>
                            <p class="clint_title">Clint</p>
                        </div>
                        <div class="rating_container">
                            <i class="uil uil-favorite"></i>
                            <i class="uil uil-favorite"></i>
                            <i class="uil uil-favorite"></i>
                            <i class="uil uil-favorite"></i>
                            <i class="uil uil-favorite"></i>
                        </div>
                    </div>
                    <div class="clint_review_text_container">
                        <p class="clint_review_para">I got a Good Impression, I carry out my project with all Possible efforts and I never thought that working with Muhammad Butt will leaves such ever-lasting Impression on me.</p>
                    </div>
                </div>

                <!-- ====== second clint review ====  -->
                <div class="clints_reviews_data_container Slides faded">
                    <div class="review_heading_container">
                        <div class="image_container">
                            <img src="../static/images/testimonial/testimonial2.jpg" alt="Second_Clint" class="clints_images">
                        </div>
                        <div class="clint_name_container">
                            <h2 class="clint_name">Marcous Stonis</h2>
                            <p class="clint_title">Clint</p>
                        </div>
                        <div class="rating_container">
                            <i class="uil uil-favorite"></i>
                            <i class="uil uil-favorite"></i>
                            <i class="uil uil-favorite"></i>
                            <i class="uil uil-favorite"></i>
                            <i class="uil uil-favorite"></i>
                        </div>
                    </div>
                    <div class="clint_review_text_container">
                        <p class="clint_review_para">It's been really a good time spend with you during the work.You made my work easy up to every possible extent and am glad to work with you.Hope you'll stand with me in future.</p>
                    </div>
                </div>

                <!-- ==== third clint review =====  -->
                <div class="clints_reviews_data_container Slides faded">
                    <div class="review_heading_container">
                        <div class="image_container">
                            <img src="../static/images/testimonial/testimonial3.jpg" alt="Third_Clint" class="clints_images">
                        </div>
                        <div class="clint_name_container">
                            <h2 class="clint_name">Steve Anderson</h2>
                            <p class="clint_title">Clint</p>
                        </div>
                        <div class="rating_container">
                            <i class="uil uil-favorite"></i>
                            <i class="uil uil-favorite"></i>
                            <i class="uil uil-favorite"></i>
                            <i class="uil uil-favorite"></i>
                            <i class="uil uil-favorite"></i>
                        </div>
                    </div>
                    <div class="clint_review_text_container">
                        <p class="clint_review_para">It's a delightfull experince to work with you. I've never thought that a new sellor can make my work so easy as you did. You did the job amazingly more than my expectations.</p>
                    </div>
                </div>

            </div>

            <br>
            <!-- The dots/circles -->
            <div style="text-align:center">
                <span class="doted" onclick="currentSlider(1)"></span>
                <span class="doted" onclick="currentSlider(2)"></span>
                <span class="doted" onclick="currentSlider(3)"></span>
            </div>
        </div>

    </section>


    <!-- contact me section  -->

    <section id="contact_scrol" class="contact_sec">
        <!-- ===== contact section headings ======  -->
        <h1 id="contact_heading">Contact Me</h1>
        <h5 id="mini_heading">Get in touch</h5>
        <!--======= contact section description before form ======= -->

        <div class="contact_container">
            <div class="contact_mini_container">

                <div class="contact_data_container">

                    <i class="uil uil-phone contact_icons"></i>
                    <div class="contact_data_descrp">
                        <span class="desc_name">Cell No.</span>
                        <span class="descp_value">0323-XXXXXXX</span>
                    </div>

                </div>

                <div class="contact_data_container">

                    <i class="uil uil-envelope contact_icons"></i>
                    <div class="contact_data_descrp">
                        <span class="desc_name">E-mail</span>
                        <span class="descp_value">XXXXXXXX@gmail.com</span>
                    </div>

                </div>

                <div class="contact_data_container">

                    <i class="uil uil-map-marker contact_icons"></i>
                    <div class="contact_data_descrp">
                        <span class="desc_name">Location</span>
                        <span class="descp_value">Colony-XXXX,Block NO.XX, Lahore-Pakistan</span>
                    </div>

                </div>
            </div>
            <!-- ====== contact form =========  -->
            <form action="/contact" method="post">
                <div class="input_data_container">
                    <label for="Name" class="lable_data">Name</label>
                    <input type="text" name="fullName" id="Name" class="input_boxes">
                </div>
                <div class="input_data_container">
                    <label for="E-mail" class="lable_data">E-mail</label>
                    <input type="text" name="eMail" id="E-mail" class="input_boxes">
                </div>
                <div class="input_data_container">
                    <label for="password" class="lable_data">Password</label>
                    <input type="password" name="pass" id="password" class="input_boxes">
                </div>
                <div class="input_data_container">
                    <label for="cell-no" class="lable_data">Phone No.</label>
                    <input type="text" name="cellNo" id="cell-no" class="input_boxes">
                </div>
                <div class="input_data_container">
                    <label for="message" class="lable_data">Message</label>
                    <textarea name="message" name="messageForMe" id="message" cols=" 0 " rows="7 " class="input_boxes ">
                    </textarea>
                </div>

                <div class="form_btn_container ">
                    <button class="form_btn "> Send Message  <i class="uil uil-message "></i>  </button>
                </div>
            </form>

        </div>
    </section>


    <!-- ------  footer section  ----- -->

    <footer id="footer_sect">
        <div class="footer_container">
            <div class="footer_mini_container">
                <!-- ===== footer section headings ======= -->

                <div class="footer_header_container">
                    <h1 class="footer_heading">Muhammad Butt</h1>
                    <h5 class="footer_mini_heading">Full-Stack Developer</h5>
                </div>
                <!-- ======= footer my web links ======= -->
                <div class="myWeb_Sections_link_Container">
                    <ul class="section_links_ul">
                        <li> <a href="#portfolio_scrol" class="section_links_ancher_tags">PortFolio</a> </li>
                        <li> <a href="#testimonials_scrol" class="section_links_ancher_tags">Testimonials</a> </li>
                        <li> <a href="#contact_scrol" class="section_links_ancher_tags">Contact Me</a> </li>
                    </ul>
                </div>




            </div>
            <!-- ======= footer social media links ====== -->

            <div class="social_meadia_links_container">
                <a href="https://www.facebook.com/" class="social_media_links" target="_blank"><i class="uil uil-facebook-f"></i></a>
                <a href="https://www.instagram.com/" class="social_media_links" target="_blank"><i class="uil uil-instagram"></i></a>
                <a href="https://twiter.com/" class="social_media_links" target="_blank"> <i class="uil uil-twitter-alt"></i></a>

            </div>
            <!-- ==== footer copy right message ====== -->

            <div class="copy_right_message_container">
                <span class="copy_right_message">&#169; MuhammadCode, All Copy right Issues Reserved 	</span>
            </div>
        </div>
    </footer>



    <!-- ======link for the index.js file===== -->
    <script src="../static/index.js "></script>


</body>

</html>