   /* css for width 1151 px to 1600px  */
   
   @media only screen and (min-width:1151px) and (max-width:1600px) {
       /* css for navigation menu and header  */
       header {
           position: fixed;
           bottom: initial;
           top: 0px;
           height: 60px;
       }
       a#logo_link {
           position: relative;
           top: 16px;
           left: 170px;
           display: block;
       }
       nav {
           position: fixed;
           top: 0px;
           bottom: initial;
           display: flex;
           align-items: center;
           justify-content: space-between;
           width: 87%;
           margin: 0 auto;
       }
       nav ul {
           position: fixed;
           top: 24px;
           left: 22.4rem;
           display: flex;
           justify-content: center;
           height: max-content;
       }
       ul li a {
           padding-left: 12px;
           font-size: 1rem;
       }
       ul li a i {
           display: none;
       }
       .light_theme_icon {
           position: relative;
           left: 0px;
           top: 16px;
           font-size: 1.8rem;
       }
       #nav_cross_btn {
           display: none;
       }
       #nav_app_btn {
           display: none;
       }
       /* home section css  */
       section.home {
           width: 65%;
           margin: 40px auto 10px auto;
       }
       div#home_container {
           grid-template-columns: 6% 56% 38%;
           grid-column: initial;
           column-gap: 0.9rem;
       }
       div#side_icons_container {
           row-gap: 2rem;
           margin-left: -90px;
           order: unset;
           padding-top: 54px;
       }
       div#discription_container {
           grid-column: unset;
           order: unset;
           margin-left: -33px;
           margin-top: 100px;
       }
       h1#home_descrp_first_heading {
           font-size: 2rem;
       }
       h3#home_descrp_second_heading {
           font-size: 1rem;
           margin-top: 0.6rem;
       }
       p#home_descrp_descrp_para {
           font-size: 1.1rem;
           margin-top: 2rem;
       }
       div#home_img_container {
           width: 200px;
           margin-left: -19px;
           margin-top: 18px;
           order: unset;
       }
       #home_img_box {
           width: 280px;
           margin-top: 3.5rem;
       }
       div#side_icons_container a {
           font-size: 1.2rem;
       }
       a#home_descrp_btn {
           padding: 14px 3px 2px 9px;
           margin-top: 50px;
       }
       a#home_scrol_btn {
           margin-top: 46px;
           margin-left: 37px;
       }
       /* css for about section */
       section.about_section {
           width: 65%;
           margin-left: auto;
           margin-right: auto;
           margin-top: 37px;
       }
       h1#about_heading {
           font-size: 40px;
           margin-top: 25px;
       }
       h5#about_intro_heading {
           font-size: 16px;
           padding-top: 7px;
       }
       div.about_container {
           flex-direction: row;
           column-gap: 1rem;
           margin-top: 60px;
       }
       img#about_image {
           width: 390px;
       }
       figure#about_image_container {
           padding-top: 3px;
       }
       p#about_para {
           font-size: 19px;
           text-align: left;
           padding: 6px;
           margin-top: 12px;
       }
       span.summary_heading {
           font-size: 26px;
       }
       p.summary_text {
           font-size: 16px;
       }
       div.summary_columns {
           margin-top: 20px;
       }
       a#about_download_btn {
           padding: 15px 3px 2px 12px;
       }
       /* css skills section  */
       section.skills_sec {
           width: 65%;
           margin: 50px auto;
       }
       h1#skills_heading {
           font-size: 40px;
           margin-top: 25px;
       }
       h5#skills_miniheading {
           font-size: 16px;
           padding-top: 7px;
       }
       div#skill_container {
           grid-template-columns: repeat(2, 1fr);
           margin-top: 60px;
       }
       span.content_heading {
           font-size: 19px;
           font-weight: bold;
           margin-top: 29px;
       }
       span.content_mini_heading {
           font-size: 12px;
           margin-top: 6px;
       }
       div.content_header i {
           font-size: 1.8rem;
           position: relative;
           right: 8px;
           top: 30px;
       }
       span.bar_title {
           font-size: 15px;
           margin-top: 10px;
       }
       span.bar_percentage {
           font-size: 15px;
       }
       div.bar_back_line {
           height: 5px;
       }
       div.bar_front_line {
           height: 5px;
       }
       /* css for qualification section  */
       section#qualification_sec {
           width: 41%;
           margin-top: 60px;
           margin-left: auto;
           margin-right: auto;
       }
       h1#qualification_heading {
           font-size: 40px;
           margin-top: 25px;
       }
       h5#qualification_miniheading {
           font-size: 16px;
           padding-top: 7px;
       }
       div.icons_container_elements>i {
           font-size: 24px;
           margin-right: 12px;
       }
       span.icons_names {
           font-size: 20px;
       }
       h4.qual_degree_name {
           font-size: 21px;
           margin-top: 8px;
       }
       h4.qual_institute_name {
           font-size: 17px;
           margin-top: 11px;
       }
       span.qual_year {
           margin-top: 25px;
       }
       .cal_icons {
           font-size: 1.2rem;
       }
       /* css for services section */
       section.services_sec {
           width: 60%;
           margin-left: auto;
           margin-right: auto;
       }
       div#big_services_container {
           margin-top: 5px;
       }
       h1#services_main_heading {
           font-size: 40px;
           margin-top: 25px;
       }
       h5#services_mini_heading {
           font-size: 16px;
           padding-top: 7px;
       }
       .services_main_icons {
           font-size: 1.5rem;
       }
       h3.service_box_heading {
           font-size: 20px;
       }
       button.services_box_btn {
           font-size: 12px;
       }
       div.services_description_container i {
           font-size: 20px;
       }
       div.sercice_box_mini_headings_container i {
           left: 234px;
       }
       p.services_box_para {
           font-size: 15px;
           font-weight: bold;
       }
       h4.service_box_mini_heading {
           font-size: 17px;
       }
       /* css for portfolio section*/
       section.portfolio_sec {
           width: 63%;
           margin-top: 50px;
           margin-left: auto;
           margin-right: auto;
       }
       h1#portfolio_main_heading {
           font-size: 40px;
           margin-top: 25px;
       }
       h5#portfolio_mini_heading {
           font-size: 16px;
           padding-top: 7px;
       }
       p.porfolio_content_para {
           font-size: 20px;
       }
       figure.portfolio_content_image_container {
           display: inline-block;
           width: 54%;
           margin-left: 12px;
       }
       img.portfolio_image {
           width: 311px;
       }
       div.portfolio_content_details {
           display: inline-block;
           width: 39%;
           position: relative;
           bottom: 30px;
       }
       a.portfolio_content_detail_btn {
           width: 94px;
           height: 32px;
           padding: 7px 3px 4px 7px;
           margin-top: 13px;
           font-size: 17px;
       }
       .prev,
       .next {
           margin-top: -30px;
       }
       /* css for project seciton  */
       section#project_sec {
           width: 60%;
           border-radius: 6px;
           margin-left: auto;
           margin-right: auto;
       }
       div#project_mini_container {
           display: flex;
           justify-content: space-between;
           column-gap: 1.2rem;
       }
       div#project_data {
           align-self: center;
       }
       h2#project_heading {
           font-size: 1.4rem;
       }
       p#discount_para {
           font-size: 1rem;
       }
       a#project_btn {
           width: 109px;
           height: 34px;
           font-size: 0.9rem;
       }
       img#project_img {
           width: 314px;
       }
       /* css for testimonials section */
       section.testimonials_sec {
           width: 60%;
           margin-left: auto;
           margin-right: auto;
       }
       h1#testimonials_heading {
           font-size: 40px;
           margin-top: 25px;
       }
       h5#testimonials_mini_heading {
           font-size: 16px;
           padding-top: 7px;
       }
       div.review_heading_container {
           display: inline-block;
           flex-direction: column;
           width: 39%;
       }
       img.clints_images {
           width: 80px;
       }
       h2.clint_name {
           font-size: 1.6rem;
       }
       p.clint_review_para {
           font-size: 1rem;
       }
       div.clint_review_text_container {
           display: inline-block;
           width: 57%;
           position: relative;
           bottom: 35px;
       }
       /* contact form css  */
       section.contact_sec {
           width: 64%;
           margin-left: auto;
           margin-right: auto;
       }
       h1#contact_heading {
           font-size: 40px;
           margin-top: 25px;
       }
       h5#mini_heading {
           font-size: 16px;
           padding-top: 7px;
       }
       div.contact_container {
           display: grid;
           grid-template-columns: 29% 1fr;
       }
       div.contact_mini_container {
           display: flex;
           flex-direction: column;
       }
       div.contact_data_container>i {
           font-size: 2rem;
       }
       .contact_icons {
           margin-top: 55px;
       }
       span.desc_name {
           font-size: 1.2rem;
           margin-top: 55px;
       }
       span.descp_value {
           font-size: 0.7rem;
       }
       div.input_data_container {
           height: 68px;
       }
       a.form_btn {
           width: 148px;
           height: 41px;
           font-size: 1rem;
           margin-left: 16px;
       }
       div.footer_mini_container {
           grid-template-columns: repeat(2, 1fr);
           grid-gap: 2.7rem;
           width: 80%;
           margin-left: auto;
           margin-right: auto;
       }
       ul.section_links_ul {
           margin-left: 61px;
       }
       div.social_meadia_links_container {
           column-gap: 3rem;
           margin-top: 20px;
           width: 80%;
           margin-left: auto;
           margin-right: auto;
       }
       div.copy_right_message_container {
           text-align: center;
           padding-left: 19px;
           width: 80%;
           margin-left: auto;
           margin-right: auto;
       }
       footer#footer_sect {
           height: max-content;
       }
       div.footer_container {
           margin-top: 3px;
           width: 81%;
           margin-left: auto;
           margin-right: auto;
       }
   }
   /* css for width 1601px to 2000px  */
   
   @media only screen and (min-width:1601px) and (max-width:2000px) {
       /* css for navigation menu and header  */
       header {
           position: fixed;
           bottom: initial;
           top: 0px;
           height: 60px;
       }
       a#logo_link {
           position: relative;
           top: 16px;
           left: 170px;
           display: block;
       }
       nav {
           position: fixed;
           top: 0px;
           bottom: initial;
           display: flex;
           align-items: center;
           justify-content: space-between;
           width: 87%;
           margin: 0 auto;
       }
       nav ul {
           position: fixed;
           top: 24px;
           left: 22.4rem;
           display: flex;
           justify-content: center;
           height: max-content;
       }
       ul li a {
           padding-left: 12px;
           font-size: 1rem;
       }
       ul li a i {
           display: none;
       }
       .light_theme_icon {
           position: relative;
           left: 0px;
           top: 16px;
           font-size: 1.8rem;
       }
       #nav_cross_btn {
           display: none;
       }
       #nav_app_btn {
           display: none;
       }
       /* home section css  */
       section.home {
           width: 65%;
           margin: 40px auto 10px auto;
       }
       div#home_container {
           grid-template-columns: 6% 56% 38%;
           grid-column: initial;
           column-gap: 0.9rem;
       }
       div#side_icons_container {
           row-gap: 2rem;
           margin-left: -90px;
           order: unset;
           padding-top: 54px;
       }
       div#discription_container {
           grid-column: unset;
           order: unset;
           margin-left: -33px;
           margin-top: 100px;
       }
       h1#home_descrp_first_heading {
           font-size: 2rem;
       }
       h3#home_descrp_second_heading {
           font-size: 1rem;
           margin-top: 0.6rem;
       }
       p#home_descrp_descrp_para {
           font-size: 1.1rem;
           margin-top: 2rem;
       }
       div#home_img_container {
           width: 200px;
           margin-left: -19px;
           margin-top: 18px;
           order: unset;
       }
       #home_img_box {
           width: 280px;
           margin-top: 3.5rem;
       }
       div#side_icons_container a {
           font-size: 1.2rem;
       }
       a#home_descrp_btn {
           padding: 14px 3px 2px 9px;
           margin-top: 50px;
       }
       a#home_scrol_btn {
           margin-top: 46px;
           margin-left: 37px;
       }
       /* css for about section */
       section.about_section {
           width: 56%;
           margin-left: auto;
           margin-right: auto;
           margin-top: 37px;
       }
       h1#about_heading {
           font-size: 40px;
           margin-top: 25px;
       }
       h5#about_intro_heading {
           font-size: 16px;
           padding-top: 7px;
       }
       div.about_container {
           flex-direction: row;
           column-gap: 1rem;
           margin-top: 60px;
       }
       img#about_image {
           width: 390px;
       }
       figure#about_image_container {
           padding-top: 3px;
       }
       p#about_para {
           font-size: 19px;
           text-align: left;
           padding: 6px;
           margin-top: 12px;
       }
       span.summary_heading {
           font-size: 26px;
       }
       p.summary_text {
           font-size: 16px;
       }
       div.summary_columns {
           margin-top: 20px;
       }
       a#about_download_btn {
           padding: 15px 3px 2px 12px;
       }
       /* css skills section */
       section.skills_sec {
           width: 53%;
           margin: 50px auto;
       }
       h1#skills_heading {
           font-size: 40px;
           margin-top: 25px;
       }
       h5#skills_miniheading {
           font-size: 16px;
           padding-top: 7px;
       }
       div#skill_container {
           grid-template-columns: repeat(2, 1fr);
           margin-top: 60px;
       }
       span.content_heading {
           font-size: 19px;
           font-weight: bold;
           margin-top: 29px;
       }
       span.content_mini_heading {
           font-size: 12px;
           margin-top: 6px;
       }
       div.content_header i {
           font-size: 1.8rem;
           position: relative;
           right: 8px;
           top: 30px;
       }
       span.bar_title {
           font-size: 15px;
           margin-top: 10px;
       }
       span.bar_percentage {
           font-size: 15px;
       }
       div.bar_back_line {
           height: 5px;
       }
       div.bar_front_line {
           height: 5px;
       }
       /* css for qualification section  */
       section#qualification_sec {
           width: 41%;
           margin-top: 60px;
           margin-left: auto;
           margin-right: auto;
       }
       h1#qualification_heading {
           font-size: 40px;
           margin-top: 25px;
       }
       h5#qualification_miniheading {
           font-size: 16px;
           padding-top: 7px;
       }
       div.icons_container_elements>i {
           font-size: 24px;
           margin-right: 12px;
       }
       span.icons_names {
           font-size: 20px;
       }
       h4.qual_degree_name {
           font-size: 21px;
           margin-top: 8px;
       }
       h4.qual_institute_name {
           font-size: 17px;
           margin-top: 11px;
       }
       span.qual_year {
           margin-top: 25px;
       }
       .cal_icons {
           font-size: 1.2rem;
       }
       /* css for services section */
       section.services_sec {
           width: 50%;
           margin-left: auto;
           margin-right: auto;
       }
       div#big_services_container {
           margin-top: 5px;
       }
       h1#services_main_heading {
           font-size: 40px;
           margin-top: 25px;
       }
       h5#services_mini_heading {
           font-size: 16px;
           padding-top: 7px;
       }
       .services_main_icons {
           font-size: 1.5rem;
       }
       h3.service_box_heading {
           font-size: 20px;
       }
       button.services_box_btn {
           font-size: 12px;
       }
       div.services_description_container i {
           font-size: 20px;
       }
       div.sercice_box_mini_headings_container i {
           left: 234px;
       }
       p.services_box_para {
           font-size: 15px;
           font-weight: bold;
       }
       h4.service_box_mini_heading {
           font-size: 17px;
       }
       /* css for portfolio section */
       section.portfolio_sec {
           width: 63%;
           margin-top: 50px;
           margin-left: auto;
           margin-right: auto;
       }
       h1#portfolio_main_heading {
           font-size: 40px;
           margin-top: 25px;
       }
       h5#portfolio_mini_heading {
           font-size: 16px;
           padding-top: 7px;
       }
       p.porfolio_content_para {
           font-size: 20px;
       }
       figure.portfolio_content_image_container {
           display: inline-block;
           width: 54%;
           margin-left: 12px;
       }
       img.portfolio_image {
           width: 311px;
       }
       div.portfolio_content_details {
           display: inline-block;
           width: 39%;
           position: relative;
           bottom: 30px;
       }
       a.portfolio_content_detail_btn {
           width: 94px;
           height: 32px;
           padding: 7px 3px 4px 7px;
           margin-top: 13px;
           font-size: 17px;
       }
       .prev,
       .next {
           margin-top: -30px;
       }
       /* css for project seciton  */
       section#project_sec {
           width: 60%;
           border-radius: 6px;
           margin-left: auto;
           margin-right: auto;
       }
       div#project_mini_container {
           display: flex;
           justify-content: space-between;
           column-gap: 1.2rem;
       }
       div#project_data {
           align-self: center;
       }
       h2#project_heading {
           font-size: 1.4rem;
       }
       p#discount_para {
           font-size: 1rem;
       }
       a#project_btn {
           width: 109px;
           height: 34px;
           font-size: 0.9rem;
       }
       img#project_img {
           width: 314px;
       }
       /* css for testimonials section  */
       section.testimonials_sec {
           width: 60%;
           margin-left: auto;
           margin-right: auto;
       }
       h1#testimonials_heading {
           font-size: 40px;
           margin-top: 25px;
       }
       h5#testimonials_mini_heading {
           font-size: 16px;
           padding-top: 7px;
       }
       div.review_heading_container {
           display: inline-block;
           flex-direction: column;
           width: 39%;
       }
       img.clints_images {
           width: 80px;
       }
       h2.clint_name {
           font-size: 1.6rem;
       }
       p.clint_review_para {
           font-size: 1rem;
       }
       div.clint_review_text_container {
           display: inline-block;
           width: 57%;
           position: relative;
           bottom: 35px;
       }
       /* contact form css*/
       section.contact_sec {
           width: 64%;
           margin-left: auto;
           margin-right: auto;
       }
       h1#contact_heading {
           font-size: 40px;
           margin-top: 25px;
       }
       h5#mini_heading {
           font-size: 16px;
           padding-top: 7px;
       }
       div.contact_container {
           display: grid;
           grid-template-columns: 29% 1fr;
       }
       div.contact_mini_container {
           display: flex;
           flex-direction: column;
       }
       div.contact_data_container>i {
           font-size: 2rem;
       }
       .contact_icons {
           margin-top: 55px;
       }
       span.desc_name {
           font-size: 1.2rem;
           margin-top: 55px;
       }
       span.descp_value {
           font-size: 0.7rem;
       }
       div.input_data_container {
           height: 68px;
       }
       a.form_btn {
           width: 148px;
           height: 41px;
           font-size: 1rem;
           margin-left: 16px;
       }
       /* css for footer section  */
       div.footer_mini_container {
           grid-template-columns: repeat(2, 1fr);
           grid-gap: 2.7rem;
           width: 80%;
           margin-left: auto;
           margin-right: auto;
       }
       ul.section_links_ul {
           margin-left: 61px;
       }
       div.social_meadia_links_container {
           column-gap: 3rem;
           margin-top: 20px;
           width: 80%;
           margin-left: auto;
           margin-right: auto;
       }
       div.copy_right_message_container {
           text-align: center;
           padding-left: 19px;
           width: 80%;
           margin-left: auto;
           margin-right: auto;
       }
       footer#footer_sect {
           height: max-content;
       }
       div.footer_container {
           margin-top: 3px;
           width: 81%;
           margin-left: auto;
           margin-right: auto;
       }
   }